/*弹框 */
.box {
    margin: auto;
    width: 620px;
    padding: 61px;
    padding-left: 87px;
    background: #FFFFFF;
    border: 1px solid;
    border-radius: 5px;
    height: 540px;
    display: none;
    /* 默认对话框隐藏 */
}

/*图片位置*/
.box .x {
    text-align: right;
    display: block;
    float: right;
    clear: left;
    margin-top: -50px;
}
/*弹框主体*/
.main {
    position:relative;

}
.desc{
    vertical-align: top;
    resize: none;
}

/*字数提示*/
.two{
    position:absolute;
    margin-top: 380px;
    margin-left: -100px;
    color: #BBBB;
}

.button{
    margin: 30px 0px;
    width: 102px;
    height: 47px;
    background-color: #00B38A;
    border: 0px;
    font-size: 16px;
}

/*字数颜色*/
#count1{
    color: #BBBB;
}
#txt{
    font-size: 18px;
    color: #555555;
}
#txt1{
    width: 552px;
    height: 418px;
    vertical-align: top;
    resize: none;
}
